
.border{
	border: 1px outset #1b4035;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #1b7462;
	padding: 5px 20px;
	margin-bottom: 20px;
}
.borderlist{
	border-top: 1px solid #cbdae3;
}
.borderlist:last-child{
	border-bottom: 1px solid #cbdae3; 
}
.height{
	min-height: 400px;
}
.padtop{
	margin-right: 40px;
	margin-top: -50px;
}
.padright{
	padding-right: 50px;
}
.padleftorder{
	margin-top: -20px;
}
.paddtop{
	margin-top: 0px;
}
.export{
	padding-top: 20px;
}
.paginate{
	margin-top: -30px;
}